* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #131212, #340760);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px #6a0dad;
  width: 450px;
  margin: 100px auto;
}
.game-container .text1{
  color: white;
  font-size: 30px;
}

h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
  font-family: 'Cinzel', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background: #2e0854;
  border: 2px solid #6a0dad;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-family: 'Cinzel', serif;
  
}

.cell:hover {
  background: #6a0dad;
  box-shadow: 0 0 15px rgb(74, 74, 74);
}

.info {
  margin-top: 15px;
  font-size: 18px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: #ededed;
}

.info button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #6a0dad;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #ededed;
  cursor: pointer;
  font-family: 'Cinzel', serif;
}

.info button:hover {
  background: #00d4ff;
  color: #000;
  box-shadow: 0 0 20px #6a0dad;
}
